<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Gst" providerName="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=hld0727;Data Source=." />
    <add name="MES" providerName="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=hld0727;Data Source=." />
    <add name="Sys" providerName="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=hld0727;Data Source=." />
    <add name="Mms" providerName="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=hld0727;Data Source=." />
    <add name="Bas" providerName="SqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=hld0727;Data Source=." />
  </connectionStrings>
</configuration>