@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:30px;"></div>
<input type="button" class="btn btn-primary" value="执行" onclick="DoSomething();" />
<div>
    <pre id="code"></pre>
</div>

@section scripts{
<script>
    function DoSomething()
    {
        $.post("/Home/AddApplicant", function (data) {
            $('#code').text(data);
        });
    }
</script>    
}