.head-north {
    overflow:hidden !important;
    background:#2076C3 url(/Content/images/headbg.png) repeat-x;
    line-height:42px;
    color:#fff;
    font-family:Verdana,微软雅黑，黑体;
}
.head-right {
    float:right;
    padding-right:10px;
}
.head-left {background:url(/Content/images/logo/logo48.png) no-repeat left; margin-left:10px; width:310px; height:46px;float:left; padding-left:70px; font-size:24px; font-weight:bolder; font-family:'Microsoft YaHei' !important;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}