
@{
    //ViewBag.Title = "Index";
}
<div class="easyui-tabs" fit="true" border="false" tools="#tab-tools">
    <div title="我的桌面" style="padding:10px">
        <p style="font-size:14px">jQuery EasyUI framework helps you build your web pages easily.</p>
        <ul>
            <li>easyui is a collection of user-interface plugin based on jQuery.</li>
            <li>easyui provides essential functionality for building modem, interactive, javascript applications.</li>
            <li>using easyui you don't need to write many javascript code, you usually defines user-interface by writing some HTML markup.</li>
            <li>complete framework for HTML5 web page.</li>
            <li>easyui save your time and scales while developing your products.</li>
            <li>easyui is very easy but powerful.</li>
        </ul>
    </div>
    <div title="样品订单" data-options="iconCls:'icon-edit',closable:true">
        
    </div>
    <div title="客户订单" data-options="iconCls:'icon-help',closable:true">
        This is the help content.
    </div>
</div>

<div id="tab-tools" style="border-top:0;">
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-arrow_refresh"></a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-screen_full"></a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="panel-tool-close"></a>
</div>

@section scripts{
<script>
    
</script>
}