@{
    ViewBag.Title = "About";
    //ViewBag.Version = "1.3.2";
    ViewBag.Version = "1.6.3";
}
<!DOCTYPE html>
<html>
<head>
    <title>easyui @ViewBag.Version test</title>
    <link href="~/Content/jquery-easyui-@ViewBag.Version/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-@ViewBag.Version/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/jquery-easyui-@ViewBag.Version/jquery.min.js"></script>
    <script src="~/Content/jquery-easyui-@ViewBag.Version/easyloader.js"></script>
    <script src="~/Content/jquery-easyui-@ViewBag.Version/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <h2>Basic ComboBox</h2>
    <p>Type in ComboBox to try auto complete.</p>
    <div style="margin:20px 0"></div>
    
    <select class="easyui-combobox" id="cb" name="state" style="width:200px;">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH" selected>Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
    </select>

    <a href="#" class="easyui-linkbutton" onclick="GetComboText()">获取Text</a>
    <a href="#" class="easyui-linkbutton" onclick="GetComboValue()">获取Value</a>
    <pre id="msg"></pre>
    <script>
        function GetInputText() { $('#msg').text($('#ss').textbox('getText')); }
        function GetInputValue() { $('#msg').text($('#ss').textbox('getValue')); }

        var GetComboText = function () {
            var val = $('#cb').combobox('getText');
            $('#msg').text(val);
        };
        var GetComboValue = function () {
            var val = $('#cb').combobox('getValue');
            $('#msg').text(val);
        };
    </script>
    @*<h2>DataGrid with Toolbar</h2>
    <p>Put buttons on top toolbar of DataGrid.</p>
    <div style="margin:20px 0;"></div>
    <table class="easyui-datagrid" id="dg" title="DataGrid with Toolbar" style="width:700px;height:500px;"
           data-options="rownumbers:true,singleSelect:true,url:'datagrid_data',method:'get',toolbar:toolbar,pagination:true">
        <thead>
            <tr>
                <th data-options="field:'ItemID',width:80">Item ID</th>
                <th data-options="field:'Product',width:100">Product</th>
                <th data-options="field:'Price',width:80,align:'right'">List Price</th>
                <th data-options="field:'UnitCost',width:80,align:'right'">Unit Cost</th>
                <th data-options="field:'Attribute',width:240">Attribute</th>
                <th data-options="field:'Status',width:60,align:'center'">Status</th>
            </tr>
        </thead>
    </table>
    <script type="text/javascript">
		var toolbar = [{
			text:'Add',
			iconCls:'icon-add',
			handler: function () {
			    $('#dg').datagrid({
			        queryParams: {
			            ItemID: 'EST'
			        },
			        
			    });
			}
		},{
			text:'Cut',
			iconCls:'icon-cut',
			handler: function () {
			    $('#dg').datagrid({
			        queryParams: {
			            ItemID: 'BEST'
			        }
			    });
			}
		},'-',{
			text:'Save',
			iconCls:'icon-save',
			handler: function () {
			    $('#dg').datagrid({
			        queryParams: {
			            ItemID: '5'
			        }
			    });
			}
		}];
    </script>*@
</body>
</html>
