<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/login.js"></script>
</head>
<body>
    <div class="loginform" id="app">
        <div class="logo"><img src="/Content/images/login/mulogo.png" alt=""></div>
        <h1>云供应链管理系统</h1>
        <form v-on:submit="Submit">
            <div class="inputform">
                <input type="text" v-model="user.name" placeholder="用户名" />
            </div>
            <div class="inputform">
                <input type="password" v-model="user.password" placeholder="密码" />
            </div>
            <div class="inputform">
                <input type="submit" value="登录" />
            </div>
            <div class="inputform">
                <p class="text-danger">{{msg}}</p>
            </div>
        </form>
        <div class="title-bottom">Copyright ©2015-@DateTime.Today.Year 秒优供应链管理有限公司  All Rights Reserved</div>
    </div>
</body>
</html>
