<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
</head>
<body>
    <div>
        姓名：<label data-bind="text:Name"></label><br />
        职业：<input type="text" name="Profession" data-bind="textinput:Profession" value="" />
    </div>
    <div>
        <input type="text" id="txt_testobservable" value="" />
    </div>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>
