@{
    ViewBag.Title = "首页";
}

<el-button v-on:click="visible=true" type="primary">Button</el-button>
<el-dialog :visible.sync="visible" title="Hello World">
    <p>Try this UI by dingxuanwei</p>
</el-dialog>

