@{
    ViewBag.Title = "首页";
}
@model MU.Models.sys_user

<ul>
    <li>@Model.UserCode</li>
    <li>@Model.UserName</li>
    <li>@Model.Password</li>
    <li>@Model.LastLoginDate</li>
</ul>

@section scripts{
<script>
    
</script>
}