@{
    ViewBag.Title = "首页";
}
@model MU.DBWapper.Models.sys_user

<input type="text" data-i18n-Placeholder="displayMessage" value="" />

<ul>
    <li>@Model.UserName</li>
</ul>

@section scripts{
<script>
    
</script>
}