@{
    ViewBag.Title = "首页";
}

<table class="easyui-datagrid" rownumbers="true" 
        data-options="url:'/Home/Users',pagination:true,pageSize:50,fit:true,autoRowHeight:false,striped:true">
    <thead>
        <tr>
            <th field="UserCode" width="120px">用户编码</th>
            <th field="UserName" width="120px">用户名称</th>
            <th field="Description" width="200px">描述</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
<script>
    
</script>
}