<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="基础数据" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:0;">
        <ul class="leftmenu">
            <li><a href="javascript:void(0);"><i class="icon-adjust"></i> <span>菜单导航</span></a></li>
            <li><a href="javascript:void(0);"><i class="icon-adjust"></i> <span>角色管理</span></a></li>
            <li><a href="javascript:void(0);"><i class="icon-adjust"></i> <span>用户管理</span></a></li>
            <li><a href="javascript:void(0);"><i class="icon-adjust"></i> <span>数据字典</span></a></li>
        </ul>
    </div>
    <div title="我的消息" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
        <h3 style="color:#0099FF;">消息通知</h3>
        <p>Accordion is a part of easyui framework for jQuery. It lets you define your accordion component on web page more easily.</p>
    </div>
</div>